modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"
packages = ["nano"]

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Frontend"

[[workflows.workflow]]
name = "Run MediVerify Backend"
author = 35670652
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mediverify-backend && node server.js"

[[workflows.workflow]]
name = "Run Frontend"
author = 35670652
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mediverify-frontend && npm start"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081
